
/* image section   */




.flex-2 {
    display: flex;
    justify-content: space-between;
}


.flex-2 h3 {
    font-family: "Futura";
    font-weight: 700;
    margin: 50px 0 25px 0;
    color: rgb(36, 36, 36);
    font-size: 30px;
}

.flex-2 p {
    font-size: 25px;
    margin: 50px 0 25px 0;
    font-family: "helvetica neue";
    font-weight: 300;
    color: rgb(56, 56, 56)
}

.flex-2 a {
    border: 0;
    text-decoration: none;
}

#img_content .container img {
    width: 100%;
    border-radius: 12px;
}

.flex-2 p a {
    text-decoration: none;
    background: #7D68FF;
    color: #fff;
    border-radius: 6px;
    padding: 14px 17px;
    margin-bottom: 20px;
}

#img_content .container .img_desc {
    margin: 20px 0 20px 0;
    font-weight: 200;
    font-family: "Helvetica neue";
    font-size: 20px;
    padding: 0;
    line-height: 27px;
    max-width: 700px;
}

.delete {
    background: #FF6868;
    color: #fff;
    margin: 0;
    border-radius: 7px;
    padding: 15px 30px;
    border: 0;
}

.like_count {
    font-family: "helvetica neue";
    font-size: 29px;
    font-weight: 700;
    color: #333;
}

.like_count span{
    font-family: "helvetica neue";
    font-size: 29px;
    font-weight: 600;
    color: #7D68FF;
}

.like_btn {
    padding: 16px 27px;
    margin: 10px 0;
    display: inline-block;
    color: #fff;
    background: #333;  
    text-decoration: none;
    border-radius: 8px;
}






/* media querys   */
@media only screen and (max-width: 850px) {
    
#img_content .container .img_desc {
    margin: 20px 20px 20px 0;
    padding:  20px 0;
}
.like_count span{
    font-family: "helvetica neue";
    font-size: 29px;
    font-weight: 600;
    color: #7D68FF;
}

.like_btn {
    padding: 16px 27px;
    margin: 10px 0;
    display: inline-block;
    color: #fff;
    background: #333;
    margin: 20px 20px 20px 0;
}



 
 }
 